.modal-card-body{
  border-radius: 6px;
}
.modal-item-button{
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}
.button-item{
  width: 85px;
}
.field-label label{
  text-align: left;
}
.modal-item-header{
  font-size: 1.5em;
  margin-bottom: 30px;
  color: #464646;
}
.bg-pink{
  margin-right: 10px;
}
